<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBS_GUI.Properties.Settings.UnternehmConnectionString"
            connectionString="Data Source=MARKUS\SQLEXPRESS;Initial Catalog=Unternehm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBS_GUI.Properties.Settings.UnternehmConnectionString1"
            connectionString="Data Source=ALIREZ-ACER\SQLEXPRESS;Initial Catalog=Unternehm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>